{% extends "core/base.html" %} 
{% load static %}
{% block title %}Contact Us{% endblock %} 
{% block style %}
<style>
    body {
        font-family:"Exo 2", sans-serif; 
        background:linear-gradient(180deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 40%,  rgb(13, 40, 163) 100%); 
        color:white
      }
    
</style>    
{% endblock  %}
{% block content %}
<div class="content">
  <div class="toptitle">{{request.user.username| capfirst}} Forum Reply</div>  
  <table class="forumreply table">
    <tr>
      forum reply
    </tr>
  </table>
</div>
{% endblock%}    