{% extends "core/base.html" %} 
{% load static %}
{% block title %}Forum List{% endblock %} 
{% block style %}
<style>
    body {
        font-family:"Exo 2", sans-serif; 
        background:linear-gradient(180deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 40%,  rgb(13, 40, 163) 100%); 
        color:white
      }
</style>    
{% endblock  %}
{% block content %}
<div class="content">
    <div class="toptitle">Forum</div>  
    {% comment %} <div  class="forumlist">
    {% for topic in topics %}
    <a href={% url "forumListPage" %}>
    <span>{{topic}}</span>
    </a>
    {% endfor %}
    </div> {% endcomment %}
    <table class="table tableforum">
          <thead>
            <tr>
              <th scope="col" style="width:80px">User</th>
              <th scope="col">Topics</th>
            </tr>
          </thead>
      
            <tbody>
               {% for forum in forumlist %}
                <tr style="height:90px; vertical-align:middle">
                  <td scope="row" class="username">{{forum.author.username|capfirst }}</td>
                  <td>
                    <a href={% url "forumPage" forum_id=forum.id page=page %} class="forumlink">
                     <div class="forumlistcontent">
                      <div class="titleforum">{{forum.title}}</div>
                      <div class="forumdetail">
                        <span>Replies : {{forum.replies}}</span>
                        <span>Views :{{forum.views}}</span>
                        <span>Date : {{forum.publication_date|date:"F d, Y"}}</span>
                      </div>
                    </div> 
                  </a>
                  </td> 
                </tr>
               {% endfor %}
            </tbody>  
    </table>
</div>
{% if request.user.is_authenticated == True %}  
<div class="postforum">
<div class="postrely">
  <span>Post a topic</span>
  <a href={% url "articlePage" author_id=request.user.id %} class="btn btn-success">List Your Posts</a>

</div>
<form method="POST">
  {% csrf_token %}
  {{ form.media }}
  {{ form.as_p }}
  <button class="btn btn-primary">Submit</button>
</form>
</div>
{% else %}
<div>Login for create your forum topic </div>

{% endif %}
{% endblock %}