{% extends "core/base.html" %} 
{% load static %}
{% block title %}Contact Us{% endblock %} 
{% block style %}
<style>
    body {
        font-family:"Exo 2", sans-serif; 
        background:linear-gradient(180deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 40%,  rgb(13, 40, 163) 100%); 
        color:white
      }
    
</style>    
{% endblock  %}
{% block content %}
<div class="content">
  <div class="toptitle">Forum Reply</div>  
  <table class="forumreply table">
    <thead>
      <tr>
        <th scope="col" colspan="2">
          <div class="topicback">
          <a href="{% url 'forumListPage' page=page %}" id="backstack">  
          <i class="material-icons" style="font-size:25px">keyboard_backspace</i>
          </a>
          </div>
          <h5 style="margin-top:8px">{{forum.title}}</h5>
        </th>
      </tr>
    </thead>

      <tbody>
        <tr style="height:80px; vertical-align:middle">
          <td scope="row" class="username">{{forum.author.username|capfirst}}</td>
          <td>
             <div class="forumcontent">
              <div class="ck-content">
                {{forum.content|safe}}
              </div>
              <div class="forumdetail">
                <span>Replies : {{forum.replies}}</span>
                <span>Views :{{forum.views}}</span>
                <span>Date : {{forum.publication_date|date:"F d, Y"}}</span>
              </div>
              {% comment %} <div class="forumdetail">
                  <span>Like:10</span>
                  <span>Unlike:2</span>
              </div> {% endcomment %}
            </div>
          </td> 
        </tr>
        {% for reply in replylist %}
        <tr style="height:80px; vertical-align:middle">
          <td scope="row" class="username">{{reply.author.username|capfirst}}</td>
          <td>
             <div class="forumcontent">
              <div class="ck-content">
                {{reply.content|safe}}
              </div>
              <div class="forumdetail">
                  {% comment %} <span>Like:{{reply.like}}</span>
                  <span>Unlike:{{reply.unlike}}</span> {% endcomment %}
                  <span>Post Date : {{reply.publication_date|date:"F d, Y"}}</span>
              </div> 
            </div>
          </td> 
        </tr>
        {% endfor %}
  

      </tbody>
    </table>      
    <div class="postforum">
      <a href="{% url 'replyPage' %}" class="btn btn-warning" style="float:right">List your replies</a>
      <div class="postrely">Post a reply</div>
      <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-primary">Submit</button>
      </form>
      </div>
</div>
{% endblock %}
{% block script %}
<script>
{% comment %} $(function(){
  $(".topicback").on("click", function(){
    history.back(1);
  })
}) {% endcomment %}

</script>
{% endblock %}